body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    margin-top: 80px;
}

.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.input-area {
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 8px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.delete {
    color: red;
    cursor: pointer;
}
